@font-face {
	font-family: 'comfortaa';
	src: url(../Alpha/fonts/comfortaa/Comfortaa-Light.ttf) format('truetype');
	font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
	--spotify-gray: #535353;
	--spotify-black: #121212;
	--spotify-dark-grey: #212121;
	--spotfy-green: #1db954;
	--spotify-light-grey: #b3b3b3;
	--white: #fff;
}

body {
	background-color: var(--spotify-black);
}

main {
	margin: 0 5em;
}

h1 {
	color: var(--white);
	font-family: 'comfortaa', 'Courier New', Courier, monospace;
	text-align: left;
	font-size: 220%;
}

h2 {
	color: var(--spotfy-green);
	font-family: 'comfortaa', 'Courier New', Courier, monospace;
	text-align: left;
	font-style: italic;
	margin-left: 1em;
}

p {
	color: var(--white);
	font-family: 'comfortaa', 'Courier New', Courier, monospace;
	text-align: left;
	font-size: 120%;
	margin-left: 2em;
}

.hero-image {
	width: 100%;
	height: 20%;
	margin: 0;
	border-bottom: 2px solid #1db954;
	margin-bottom: 3em;
}

