@font-face {
	font-family: 'comfortaa';
	src: url(../Alpha/fonts/comfortaa/Comfortaa-Light.ttf) format('truetype');
	font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
	align-items: center;
	display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  background:#30492e;
  font: 1em verdana, sans-serif;
}

header {
  display: grid;
  grid-template-rows: 20px 60px;
  align-items: center;
  justify-items: center;
  margin: 4em 0 0.5em 0;
  row-gap: 10px;
}

h1 {
  font-size: 250%;
	text-align: left;
	font-family: 'comfortaa', Arial, Helvetica, sans-serif;
	color: #fff;
  font-weight: 900;
}

h2 {
  font-family: 'comfortaa', Arial, Helvetica, sans-serif;
	font-size: 3vh;
	color: white;
	line-height: 1;
	background-color: #1db954;
	padding: 25px;
	margin: -15px -30px;
	text-align: center;
}

h3 {
  font-family: 'comfortaa', Arial, Helvetica, sans-serif;
  color: white;
	margin: 2em 0 -0.5em 0;
	text-decoration: underline;
}

p {
  color: #b3b3b3;
  opacity: 0.6;
  font-family: 'comfortaa', Arial, Helvetica, sans-serif;
}

h4 {
  font-family: 'comfortaa', Arial, Helvetica, sans-serif;
  color: #fff;
  opacity: 0.9;
}

li {
  color: white;
  font-family: 'comfortaa', Arial, Helvetica, sans-serif;
	line-height: 1.7;
	font-size: 2vh;
	max-width: 35ch;
	align-items: right;
  margin-top: 10px;
}

a:link {
  font-family: 'comfortaa', Arial, Helvetica, sans-serif;
	color: #1db954;
  margin-top: -3em;
}

a:visited {
  font-family: 'comfortaa', Arial, Helvetica, sans-serif;
	color: #1db954;
  margin-top: -3em;
}

a:hover {
  font-family: 'comfortaa', Arial, Helvetica, sans-serif;
	color: white;
  margin-top: -3em;
}

.section {
	margin: 0 0 2.5em 0;
}

#spotify {
	margin: 3.7em 0;
	text-align: center;
}

/* ALBUM MODAL */

.spotify-modal {
  border: 5px solid black;
  border-radius: 10px;
  z-index: 2;
  margin: 2em;
  margin-bottom: 10em;;
}

.album-modal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #262626;
  padding: 25px 0px 25px 35px;
  align-items: center;
  filter: drop-shadow(0 5px 10px #121212);
}

.album-modal img {
  justify-content: center;
  border-radius: 5px;
  filter: drop-shadow(0 5px 10px #121212);
}

.album-modal img:hover {
  transform: scale(1.02);
  filter: opacity(0.95);
  filter: drop-shadow(5px 5px 0.2rem black);
  cursor: pointer;

}

.album-info {
  padding: 120px 0  20px 35px;
  transform: scale(1.2);
}

.inline-content {
  display: flex;
  align-items: center; 
}

.inline-content h1,
.inline-content p {
  margin: 0 10px; 
}

/* buttons container */

.play-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #212121;
  padding: 20px;
  column-gap: 20px;
  border-top: 3px solid #000;
  filter: drop-shadow(0 5px 10px #121212);
}

/* PLAY BUTTON container */


.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #1db954;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative; /* Important for absolute positioning */
}

.icon {
  width: 70%;
  height: 70%;
  fill: #212121;
}

/* Pulse ring styles */
.pulse-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #1db954;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  pointer-events: none; 
}

.circle.active .pulse-ring {
  animation: burst 0.6s ease-out;
}

/* Keyframes for the burst effect */
@keyframes burst {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.7);
    opacity: 0;
  }
}

/* apply scaling effect to both play and pause icons */
.circle:hover .play-icon,
.circle:hover .pause-icon {
  transform: scale(1.4);
}

.tooltip-play {
  position: absolute;
  top: -9px; 
  left: 17%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none
}

/* Show tooltip on hover */
.wrapper:hover .tooltip-play {
  visibility: visible;
  opacity: 1;
  transition-delay: 1s; /* adjust delay */
}

/* SHUFFLE BUTTON */

/* tooltip styling */
.tooltiptext-three {
  position: absolute;
  visibility: hidden;
  background-color: black;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 10px 10px;
  border-radius: 5px;
  top: -15%; 
  left: 50%; 
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none
}

/* Make tooltip visible on hover */
.container:hover .tooltiptext-three {
  visibility: visible;
  opacity: 1;
  transition-delay: 1s; 
}

:root {
  --icon1-color: #B3B3B3; /* Default color for icon 1 */
  --icon2-color: #B3B3B3; /* Default color for icon 2 */
}

.container {
  display: flex;
  justify-content: center;
  align-items: self-start;
  position: relative;
  cursor: pointer;
  padding: 10px;
  height: 80px;
  width: 80px;
}

.icon {
  position: absolute;
  transition: transform 0.3s ease, fill 0.3s ease; 
}

.icon1 {
  color: var(--icon1-color); 
  transform: translateY(15px); /* Default Y position */
}

.icon2 {
  color: var(--icon2-color); 
  transform: translateY(5px); /* Offset Y position initially */
}

/* heart button */

/* Tooltip for Heart Button */
.tooltiptext-heart {
  position: absolute;
  visibility: hidden;
  background-color: black;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;
  bottom: 115%; 
  left: 50%; 
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none
}

.heart-icon:hover .tooltiptext-heart {
  visibility: visible;
  opacity: 1;
  transition-delay: 1s; 
}

.large-font {
  font-size: xxx-large;
}

.text-center {
  text-align: center;
}

.heart-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 80px;
  height: 80px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.heart-icon {
  position: relative;
  display: inline-block;
}

.heart-icon svg {
  width: 100px;
  height: auto;
  transition: transform 0.3s, fill 0.5s, stroke 0.5s, stroke-opacity 0.5s;
}

.heart-icon .heart-path {
  fill: transparent;
  stroke: #b3b3b3; /* Default stroke color */
  transition: fill 0.5s, stroke 0.5s, stroke-opacity 0.5s;
}

/* Hover effect applies only when the heart is not active */
.heart-icon:not(.active):hover .heart-path {
  stroke-opacity: 0.5; /* Reduce stroke opacity on hover */
}

/* Bubble animation using :before */
.heart-icon:before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  content: '';
  box-sizing: border-box;
  margin: -2.25rem;
  border: solid 2.25rem #1db954;
  width: 4.5rem;
  height: 4.5rem;
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}

/* Particle animation using :after */
.heart-icon:after {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  border-radius: 50%;
  content: '';
  margin: 0;
  width: 0.375rem;
  height: 0.375rem;
  box-shadow: 0.32476rem -3rem 0 #1db954, 
              -0.32476rem -2.625rem 0 #1db954, 
              2.54798rem -1.61656rem 0 #1db954, 
              1.84982rem -1.89057rem 0 #1db954, 
              2.85252rem 0.98418rem 0 #1db954, 
              2.63145rem 0.2675rem 0 #1db954, 
              1.00905rem 2.84381rem 0 #1db954, 
              1.43154rem 2.22414rem 0 #1db954, 
              -1.59425rem 2.562rem 0 #1db954, 
              -0.84635rem 2.50595rem 0 #1db954, 
              -2.99705rem 0.35095rem 0 #1db954, 
              -2.48692rem 0.90073rem 0 #1db954, 
              -2.14301rem -2.12438rem 0 #1db954, 
              -2.25479rem -1.38275rem 0 #1db954;
  opacity: 0;
}

/* Trigger animations when active */
.heart-icon.active .heart-path {
  fill: #1db954; /* Fill the heart with green */
  stroke: #1db954; /* Stroke also turns green */
}

.heart-icon.active {
  animation: bounce 0.3s forwards; /* Trigger bounce animation */
}

.heart-icon.animate-bubble:before {
  animation: bubble 1s forwards;
}

.heart-icon.animate-particles:after {
  animation: particles 1s forwards;
}

/* Bounce animation keyframes */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Slight scale up */
  }
  100% {
    transform: scale(1);
  }
}

/* Bubble animation keyframes */
@keyframes bubble {
  15% {
    transform: scale(1);
    opacity: 1;
    border-color: #1db954;
    border-width: 2.25rem;
  }
  30%, 100% {
    transform: scale(1.5);
    opacity: 0;
    border-color: #1db954;
    border-width: 0;
  }
}

/* Particles animation keyframes */
@keyframes particles {
  0%, 20% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1); /* Centered and small */
  }
  25% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2); /* Small expansion */
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2); /* Disperse the particles */
  }
}

/* notification window */

.notification {
  position: fixed;
  bottom: -96px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 25px 20px;
  border-radius: 5px;
  border: 2px solid black;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.notification.visible {
  visibility: visible;
  opacity: 1;
}

.notification.hidden {
  visibility: hidden;
  opacity: 0;
}

/* OPTIONS BUTTON STYLING */

/* Center the container */
.buttons {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  display: flex;
  grid-template-columns: repeat(3, auto); 
  column-gap: 14px; /* Reduce spacing between buttons */
  cursor: pointer;
}

/* Adjust buttons styling */
.butFrame {
  position: relative;
  display: block;
  background: #b3b3b3; /* Button color */
  border-radius: 50%;
  height: 20px; /* Slightly smaller */
  width: 20px;
  transition: transform 0.2s ease-in-out;
}

/* Button animations */
.buttons:hover .butFrame:nth-child(1) {
  animation: bounce 1.5s ease-in-out infinite;
  animation-delay: 0s;
}

.buttons:hover .butFrame:nth-child(2) {
  animation: bounce 1.5s ease-in-out infinite;
  animation-delay: 0.2s;
}

.buttons:hover .butFrame:nth-child(3) {
  animation: bounce 1.5s ease-in-out infinite;
  animation-delay: 0.4s;
}

/* Bounce animation with higher height */
@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-15px); /* Increased bounce height */
  }
}

/* Tooltip styling */
.tooltiptext-two {
  position: absolute;
  visibility: hidden;
  background-color: black;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;
  bottom: 100%; 
  left: 50%; 
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
  pointer-events: none
}

.tooltip:hover .tooltiptext-two {
  visibility: visible;
  transition-delay: 1s; 
}

/* Menu styling */
.menu {
  display: none;
color: white;
  position: absolute;
  top: calc(100% + 10px); 
  left: 0;
  background-color: #535353;
  border: 1px solid #ccc;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px;
  cursor: pointer;
}

.menu li:hover {
  background-color: 	#b3b3b3;
}


/* album microinteraction */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.hidden {
  opacity: 0;
  visibility: hidden;
}

.modal-content {
  background-color: #212121;
  color: white;
  padding: 60px 50px;
  border-radius: 10px;
  border: 2px solid 		#535353;
  width: 60%;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
  position: relative;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px; /* Space between image and text */
}

.modal-content img.modal-image {
  max-width: 80%;
  border-radius: 5px;
  filter: drop-shadow(0 5px 10px #121212);
}

.modal-description {
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.5;
}

.modal-description h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
  color: white;
  background: #1db954;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background: #169843;
}

/* Animation for fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


/* description styles */

.section {
	margin: 0 0 2.5em 0;
}

#spotify {
	margin: 3.7em 0;
	text-align: center;
}

#interaction {
	text-align: center;
	text-decoration: none;
	font-size: 3vh;
	margin-top: 3em;
}

.description {
	display: flex;
	flex-wrap: nowrap;
	margin: 4em;
  gap: 60px;
}

.box {
	flex: 1;
	background-color:	#121212;
	border: 2px solid #1db954;
	border-radius: 4px;
	padding: 15px 30px 30px 30px;
	margin: -0.75em;
}

/* media queries */


/* Tablet: For screens between 701px and 1200px */
@media screen and (min-width: 701px) and (max-width: 1200px) {
  header {
    margin: 5em 0 1em 0;
    row-gap: 10px;
  }

  h1 {
    font-size: 230%;
  }

  p {
    font-size: 110%;
  }

  .description {
    display: flex;
    flex-wrap: wrap;
    margin: 4em;
    column-gap: 60px;
  }

  .album-modal { /* album div */
    grid-template-columns: 1fr 1fr; 
    padding: 25px 35px;
    gap: 20px;
  }

  .album-info { /* album div */
    padding: 0 0 0 10px;
    transform: scale(1);
    margin-left: -5px;
  }

  .album-name { /* album div */
    text-align: left;
    font-size: 240%;
  }

  .album-modal img { /* album div */
    transform: scale(0.9);
    justify-content: center;
    border-radius: 5px;
    filter: drop-shadow(0 5px 10px #121212);
  }

  .inline-content {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 30px; 
  }

  .inline-content h4 {
    font-size: 1.6rem; 
    color: white;
    margin: 0; 
  }

  .inline-content p {
    font-size: 1.2rem; 
    color: #B3B3B3; 
    margin: 0; 
  }


  .tooltip-play {
    position: absolute;
    top: -9px; /* Positions the tooltip above the play button */
    left: 15.5%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none
  }
  
  a:link {
    font-family: 'comfortaa', Arial, Helvetica, sans-serif;
    color: #1db954;
    font-size: 140%;
  }
  

  a:visited {
    font-family: 'comfortaa', Arial, Helvetica, sans-serif;
    color: #1db954;
  }
  
  a:hover {
    font-family: 'comfortaa', Arial, Helvetica, sans-serif;
    color: white;
  }
  
  .modal-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px; /* Space between image and text */
  }

  .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    color: white;
    background: #1db954;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  

}

/* Mobile: 700px */
@media screen and (max-width: 700px) {
  .description {
    display: grid; 
    grid-template-columns: 1fr; 
    row-gap: 50px; 
    margin: 2em;
  }

  header {
    margin: 5em 0 2em 0;
    row-gap: 10px;
  }

  h1 {
    font-size: 230%;
  }

  h2 {
    font-size: 2.5rem;
    padding: 25px;
    margin: -10px;
  }

  h3 {
    margin: 1.5em 1em;
    font-size: 2.3vh;
  }

  li {
    font-size: 2vh;
  }

  p {
    font-size: 1.5rem;
    margin: 30px 0 20px 0;
  }

  .box {
    padding: 10px;
    margin: 0;
  }

  .modal-body {
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 20px; 
    padding: 20px;
  }

    .modal-content {
    width: 95%; /* Increase width usage for smaller screens */
    max-height: 90vh; /* Slightly increase height on mobile */
    padding: 15px; /* Reduce padding for better spacing */
    text-align: center;
    margin: 3em;
    overflow: scroll;
    }

    .modal-content img.modal-image {
      margin: 4em 0 1em 0;
      max-width: 100%;
      height: auto;
      justify-content: center;
    }

    .modal-description {
      font-size: 1rem; /* Slightly smaller font for mobile */
      line-height: 1.4;
    }
  
  .album-modal { /* album div */
    grid-template-columns: 1fr; 
    padding: 55px 30px 30px 30px;
    gap: 20px;
  }

  .album-info {
    padding: 0;
    text-align: center; 
    transform: scale(1); 
  }

  .album-name {
    font-size: 2.6rem; 
    text-align: center; 
  }

  .album-modal img {
    transform: scale(1.1); 
    justify-content: center;
    margin: 0 auto; 
  }

  .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    color: white;
    background: #1db954;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }


  .inline-content {
    display: flex;
    flex-direction: column; 
    gap: 30px; 
  }

  .inline-content h4 {
    font-size: 1.6rem; 
    color: white;
    margin: 0; 
  }

  .inline-content p {
    font-size: 1.4rem; 
    color: #B3B3B3; 
    margin: 0; 
  }

  .close-button {
    top: 15px;
    right: 15px;
    font-size: 2.6rem; 
    padding: 5px 8px;
  }

  .play-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #212121;
    padding: 20px 30px;
    column-gap: 20px;
    border-top: 3px solid #000;
    filter: drop-shadow(0 5px 10px #121212);
  }

.buttons { /* options button */
    grid-template-columns: 1fr;
    gap: 10px;
    justify-content: center;
  }

  .butFrame { /* options button */
    width: 15px;
    height: 15px;
  }

  .heart-container { /*heart button*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: relative;
    cursor: pointer;
  }
  
  .tooltip-play {
    position: absolute;
    top: -9px; /* Positions the tooltip above the play button */
    left: 14%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none
  }


}

