body {
	background-color: #212121;
	color: white;
	margin: 1.5rem;
}

h1 {
	color: #1db954;
	text-align: center;
	background-color: black;
}

a {
	text-align: center;
}

video {
background: red;
margin: auto 300px;
}

.main-div {
	display: grid;
	grid-template-columns: 1fr 1fr;
} 